html{ background-color: #EFEFEF;}
div.container{ width: 980px;margin: 0 auto;}
div.login-box{ 
width: 400px;
height: 200px;
margin-left: -200px;
position: relative;
border: 1px solid #2E2E2E;
padding: 10px;
left: 50%;
top:200px;
position: relative;}
 div.login-box p label{ width: 90px;float: left;text-align: right;}
.ui-multiselect div.selected{ float: right;}
