div.container{ width: 980px;margin: 0 auto;background-color: #EFEFEF;height: auto}
div.login-box{ width: 400px;height: 200px;margin:  0 auto; border: 1px solid #2E2E2E;padding: 10px;top: 50%;position: relative;}
.ui-multiselect div.selected{ float: right;}